#Archivos de texto
*.txt

#Videos evidencia
*.ogv
*.mp4

#Archivos de imagen
*.png
*.jpeg

#Documentos
*.pdf
*.epub
*.docx
*.xlsx
*.ppt

#Links en Windows
*.url

#Carpetas a Ignorar
RPiVirtualBoard/
RPiVirtualBoards/
Información/
FSEm/
Proyecto Final/
